//- FAVICONS
link(rel='icon', href='images/favicons/favicon.ico')
//- CSS =================================
//- GOOGLE FONTS
//- LIBRARIES CSS
link(rel='stylesheet', href='css/bootstrap.min.css')
link(rel='stylesheet', href='css/animate/animate.min.css')
//- COLORS
//- <link id="color-css" rel="stylesheet" href="../public/css/colors/turquoise.css">
link#color-css(rel='stylesheet', href='css/colors/midnight-blue.css')
//- SPECIFIC CSS
link(rel='stylesheet', href='css/style-index.css')